$theme-color:   #fbd3c3 ;
$primary-color: #868686;
$secondary-color: #deafb7;
$text-color-inverse: #fffded;
$text-color: #404040;
$navbar-shallow-color: #676767;
$menu-mobile-background-color: #829cbc;